<!DOCTYPE html>
<html>
  <head>
    <title>Des Moines Web Geeks - <%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
        <nav>
        <p id="logo" class=""><a href="/tasks">TODO<span class="alt">r</span></a></p>
          <ul>
            <li><%= link_to "Tasks", tasks_path, :id => "homenav" %></li>
            <li><%= link_to "My Tasks", tasks_path(:my=>1), :id => "mynav" %></li>
            <li><%= link_to "Completed", tasks_path(:completed=>1), :id => "completednav" %></li>
            <li><%= link_to "New Task", new_task_path, :id => "newnav" %></li>
            <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, :id => "signoutnav" %></li>
            <% end %>
          </ul>
        </nav>
        <% if user_signed_in? %>
        <div>Hi <%= current_user.email %></div>
        <% end %>
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
