<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Due date</th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td <%= 'class="completed"' if task.is_completed? %>>
      <%= link_to truncate(task.description, :length => 50, :omission => '...'), edit_task_path(task) %></td>
    <td><%= task.due_date %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Remove task', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
 <!-- <tr>
    <td class="quickadd" colspan="4">
      <form action="" method="post">
      <label>Quick add:<br />
      <input type="text" name="description" /></form></label>
    </td>
  </tr>         -->
</table>

<br />

<%= link_to 'New Task', new_task_path %>

<br />
<p>Total tasks completed: <%= @num_tasks %></p>