<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Is completed:</b>
  <%= @task.is_completed %>
</p>

<p>
  <b>Due date:</b>
  <%= @task.due_date %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
